button {
    font-size: 1.5rem;
    margin: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
}

table, th, td {
    border-collapse: collapse;
  }

table {
    border: 1px solid black;
    margin-top: 20px;
}

th {
    border: 1px solid black;
    width: 80px;
    height: 40px;
    font-size: 1.5rem;
}

td {
    font-size: 1.5rem;
    text-align: center;
    height: 40px;
    width: 40px;
}

th.frameTen {
    width: 120px;
}

td.second, td.third {
    border: 1px solid black;
}

#score td {
    border-right: 1px solid black;
}